<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FretePersonal_Frenet" setup_version="1.0.0">
        <helpers>
            <frenet>
                <class>FretePersonal_Frenet_Helper</class>
            </frenet>
        </helpers>
    </module>
</config>
