<li class='mt-4 answer'>
    <input type='text' name='answer[]' class='form-control' placeholder='Resposta' value='{answer}'>
    <input type='hidden' name='answer_id[]' class='form-control' value='{id}'>
    <label class='answer-value {is_correct_class}'>
        <input name='is_correct[]' type='hidden' value='{is_correct}'>
        <span>Resposta</span>
    </label>
    <label class='answer-exclude'>
        <input name='is_exclude[]' type='hidden' value=''>
        <span>Excluir</span>
    </label>
    <div class='clear'></div>
</li>