<?xml version="1.0"?>
<config>
    <modules>
        <Alessandro_Shipping>
            <version>1.0.0</version>
        </Alessandro_Shipping>
    </modules>
    <global>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <width/>
                        <length/>
                        <height/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <models>
            <alessandro_shipping>
                <class>Alessandro_Shipping_Model</class>
            </alessandro_shipping>
        </models>
        <helpers>
            <alessandro_shipping>
                <class>Alessandro_Shipping_Helper</class>
            </alessandro_shipping>
        </helpers>
        <resources>
            <alessandro_shipping_setup>
                <setup>
                    <module>Alessandro_Shipping</module>
                </setup>
            </alessandro_shipping_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <alessandro_shipping>
                <active>1</active>
                <model>alessandro_shipping/carrier</model>
                <title>Frenet</title>
                <additional_days>2</additional_days>
                <token>8713E4FBR8EFCR4D61R9FDER4045FBF8721C</token>
            </alessandro_shipping>
        </carriers>
    </default>
    <frontend>
        <translate>
            <modules>
                <Alessandro_Shipping>
                    <files>
                        <default>Alessandro_Shipping.csv</default>
                    </files>
                </Alessandro_Shipping>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Alessandro_Shipping>
                    <files>
                        <default>Alessandro_Shipping.csv</default>
                    </files>
                </Alessandro_Shipping>
            </modules>
        </translate>
    </adminhtml>
</config>
