<?xml version="1.0"?>
<config>
    <modules>
        <Trezo_Payments>
            <version>0.0.0.1</version>
        </Trezo_Payments>
    </modules>
    <global>
        <helpers>
            <trezo_payments>
                <class>Trezo_Payments_Helper</class>
            </trezo_payments>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <check_trezo_payment_method>
                        <type>singleton</type>
                        <class>trezo/observer</class>
                        <method>checkTrezoPaymentMethod</method>
                    </check_trezo_payment_method>
                </observers>
            </sales_order_place_after>
        </events>
        <blocks>
            <trezo>
                <class>Trezo_Payments_Block</class>
            </trezo>
        </blocks>
        <models>
            <trezo>
                <class>Trezo_Payments_Model</class>
            </trezo>
        </models>
        <resources>
            <trezo_payments>
                <setup>
                    <module>Trezo_Payments</module>
                </setup>
            </trezo_payments>
        </resources>
    </global>
    <default>
        <payment>
            <trezo_settings>
                <title>Trezo</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
                <authentication_key><![CDATA[cm9uZWNsYXlAZ21haWwuY29tOmUxODQ0NjkzLWJiYTAtNGY4NC04NjE5LTRlOTY3NjBjY2E4NiA=]]></authentication_key>
            </trezo_settings>
            <trezo_boleto>
                <model>trezo/boleto</model>
                <title>Boleto</title>
                <sort_order>0</sort_order>
                <days_to_expire>5</days_to_expire>
                <instructions><![CDATA[After finalizing your purchase, generate your Boleto and make the payment so that your purchase is released for delivery.]]></instructions>
                <min_order_total>0</min_order_total>
            </trezo_boleto>
        </payment>
    </default>
</config>